body {
    font-family: Arial, sans-serif;
    background: linear-gradient(#090040, #932F67, #3E0703);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.todo-container {
    background:linear-gradient(#3674B5,#FEC5F6,#80D8C3  );
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    width: 350px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.input-section {
    display: flex;
    gap: 10px;
}

#task-input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#add-btn {
    padding: 8px 12px;
    background-color: #28a745;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#add-btn:hover {
    background-color: brown;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    background: #f9f9f9;
    margin-bottom: 8px;
    border-radius: 5px;
}

.completed {
    text-decoration: line-through;
    color: gray;
}

.delete-btn {
    background-color: red;
    border: none;
    color: white;
    padding: 5px 8px;
    border-radius: 5px;
    cursor: pointer;
}

.delete-btn:hover {
    background-color: darkred;
}

.done-btn {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 5px 8px;
    border-radius: 5px;
    cursor: pointer;
}

.done-btn:hover {
    background-color: #0056b3;
}